* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #FDE4E4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23fee9e9' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23feeeee' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23fff3f3' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23fff8f8' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23FFFDFD' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23fffdfd' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23fffefe' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23fffefe' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23ffffff' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23FFFFFF' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

header {
    font-family: "Manrope", serif;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
nav {
    padding: 1.5rem 2rem;
    background-color: #ffffff;
    color: #fff;

}

input[type="checkbox"] {
    display: none; 
}

.checkbtn {
    cursor: pointer;
    position: absolute;
    top: 6%;
}

.checkbtn svg {
    fill: #e85a4f;
    width: 30px;
    height: 30px;
    margin: auto;
    position: static;
}

.nav-mobile {
    display: none;
}

#check:checked ~ .nav-mobile {
    display: block;
}

.nav-mobile {
    position: absolute;
    top: 4.7rem;
    left: 0;
    background: #ffffff;
    z-index: 1;
    width: 200px;
}

.nav-mobile a {
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav-mobile a:hover {
    color: #E85A4F;
    transform: scale(1);
}

.nav-mobile a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E85A4F;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-in-out;
}

.nav-mobile a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

   @media only screen and (max-width: 992px) {
    .checkbtn {
    display: block;
    font-size: 5rem;
    position: absolute;
    top: 0px;
    left: 40px;
    }
   .nav-mobile {
    top: 160px;
    width: 100%;
    }
   .nav-mobile a {
    font-size: 2rem;
    padding: 2rem 3rem;
    }
   }
.email-button {
    position: fixed;        
    bottom: 20px;           
    right: 20px;            
    z-index: 1000;          
}

.email-button button {
    padding: 10px;          
    border: none;          
    border-radius: 50%;     
    cursor: pointer;        
    display: flex;          
    justify-content: center; 
    align-items: center;    
    width: 60px;           
    height: 60px;         
}

.email-button button svg {
    width: 30px;            
    height: 30px;          
}
.email-button button:hover svg {
    transform: scale(1.1);
  }

  @media (max-width: 768px){
    .email-button{
        position: fixed;        
        bottom: 20px;           
        right: 0px;            
        z-index: 1000;  
    }
  }
.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.125em;
  }

.title-r-b {
    color: #E85A4F;
    font-size: 70px;
    font-family: "Rubik", serif;
    padding-top: 2vh;
    padding-bottom: 4vh;
}
.subtitle-w {
    color: #FFFFFF;
    font-size: 50px;
    font-family: "Rubik", serif;
    padding-bottom: 4vh;
}
.title-b {
    font-size: 50px;
    font-family: "Manrope", serif;
    padding-bottom: 6vh;
}

.subtitle-b {
    font-size: 18px;
    font-family: "Manrope", serif;
    padding-bottom: 4vh;
}
.subtitle-b-n {
    font-size: 20px;
    font-family: "Manrope", serif;
}
.subtitle-bs{
    font-size: 16px;
    font-weight: 200;
    font-family: "Manrope", serif;
}
.title-r {
    font-size: 50px;
    color: #E85A4F;
    font-weight: 300;
    font-family: "Manrope", serif;
    padding-bottom: 6vh;
}
.subtitle-bb {
    font-size: 30px;
    color: #000000;
    font-weight: 400;
    font-family: "Manrope", serif;
    padding-bottom: 4vh; 
}
.logo {
    position: relative;
    width: 110px;
    height: 100px;
    margin: 20px;
}

.nav-section {
    background-image: url("img/main.auto.JPG");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-bottom: 20%;
}

.nav-section div {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.739); /* Slightly transparent background */
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.nav-section .title-r-b {
    font-size: 4.2rem;
}
.nav-section .subtitle-w  {
    font-size: 2.2rem;
}
/* Mobile-specific Styles */
@media only screen and (max-width: 768px) {
    .nav-section {
        background-image: url("img/main.auto.JPG");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        width: auto;
        height: 80vh;
        position: relative;
    }
    .nav-section .title-r-b {
        font-size: 2.4rem;
    }

    .subtitle-w {
        font-size: 1.1rem;
    }

    .subtitle-w:first-of-type {
        font-size: 1.2rem;
    }
}

.icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.icons-container .title-b {
    text-decoration: underline;             
    text-decoration-color: #E85A4F;       
}
.icons-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}
.icons-content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 260px;
    height: 260px;
    padding: 6px;
    background-color: #c9c7c7a9;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.icons-content div:hover {
    transform: scale(1.1);
    background-color: #aba8a85a;
}

.icons-content img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}
@media (max-width: 768px) {
    .icons-content {
        flex-direction: column;
        gap: 20px;
    }

    .icons-content div {
        width: 260px;
        height: 260px;
    }

    .icons-content img {
        width: 80px;
        height: 80px;
    }

    .subtitle-b {
        font-size: 16px;
    }
}


.service-container {
    padding-top: 6vh;
    padding-bottom: 16vh;
    padding-left: 6vh;
    padding-right: 6vh;
    display: flex;
    justify-content: space-between;
}
.service-content{
    width: 80%;
    padding-right: 6vw;
}
button {
    font-family: "Rubik", serif;
    background-color: #E85A4F;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #dc473c;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0), 0 0 20px rgb(252, 162, 156), 0 0 30px rgba(232, 90, 79, 0.6); 
    transform: translateY(-4px);
}

button:active {
    background-color: #c0392b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0), 0 0 15px rgba(232, 90, 79, 1), 0 0 20px rgba(232, 90, 79, 0.5);
    transform: translateY(0);
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 40vw;
}

.service-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 70vw;
    margin-top: 4vh;
    margin-right: 4vh;
}

.service-images img {
    border-radius: 10px;
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
}
@media (max-width: 768px) {
    .service-container {
        padding: 4vh 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-content {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }

    .service-content .title-b {
        font-size: 24px;
    }

    .service-content .subtitle-b {
        font-size: 16px;
    }

    button {
        width: 60%;
        padding: 10px 20px;
        font-size: 16px;
        margin-right: 10px;
    }

    .contact-info {
        gap: 5px;
        width: 100%;
    }

    .contact-info .subtitle-b-n {
        font-size: 16px;
    }

    .service-images {
        width: 100%;
        margin-top: 2vh;
        margin-right: 0;
    }

    .service-images img {
        width: 100%;
        height: auto;
        max-height: 250px;
    }
}

.company-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.company-image {
    flex: 1;
    text-align: left;
}

.company-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.company-content {
    flex: 2;
    text-align: left;
}
@media (max-width: 768px) {
    .content {
        flex-direction: column; 
        align-items: center; 
        gap: 1rem;
    }

    .company-image {
        text-align: center;
        margin-bottom: 1rem; 
    }

    .company-image img {
        max-width: 80%; 
    }

    .company-content {
        text-align: center; 
        padding: 1em;
    }

    .company-container {
        padding: 15px; /* Зменшення відступів для мобільних пристроїв */
    }

    .title-b {
        font-size: 1.5rem; /* Можна змінити розмір шрифта для мобільних */
    }
}

.reviews-section{
    padding-top: 8vh;
    padding-left: 4vw;
}
.review-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 4vw;
    padding-bottom: 6vh;
}

.reviews-section button {
    color: #000;
    background-color: #D7C3A3;
    font-family: "Manrope", serif;
    font-weight: 300;
}

.google-reviews {
    text-align: center;
}

.google-reviews img {
    border: 1px solid #E85A4F;
    border-radius: 20px;
    margin-bottom: 10%;
}
@media screen and (max-width: 768px) {
    .reviews-section {
        padding-left: 2vw;
        padding-right: 2vw;
        text-align: center;
    }

    .review-images {
        justify-content: center; /* Центруємо зображення */
        gap: 1rem; /* Менші відступи між зображеннями */
    }

    .review-images img {
        max-width: 80%; /* Зменшуємо максимальну ширину зображень */
    }

    .reviews-section button {
        width: 60%; /* Збільшуємо ширину кнопки для мобільних */;
        font-size: 1rem; /* Зменшуємо шрифт кнопки */
        margin-bottom: 4em;
    }

    .google-reviews img {
        max-width: 90%; /* Зменшуємо ширину зображення рейтингу */
    }
}

.portfolio-container {
    padding: 4vh 4vw;
}

.portfolio-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-description {
    width: 50%;
    margin-bottom: 20px;
}

.portfolio-carousel-wrapper {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.portfolio-carousel {
    display: flex;
    gap: 20px;
    scroll-snap-align: center;
}

.card {
    flex: 0 0 auto;
    scroll-snap-align: center;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .portfolio-container{
        text-align: center;
    }
    .portfolio-description {
        width: 100%; 
        text-align: center;
        margin-bottom: 20px;
    }

    .portfolio-carousel-wrapper {
        gap: 10px;
        padding: 10px 0;
    }

    .portfolio-carousel {
        gap: 10px;
    }

    .card {
        width: 200px; 
        height: 200px; 
    }

    .portfolio-container {
        padding: 2vh 2vw; /* Уменьшаем внутренние отступы секции */
    }
}

.footer-nav a {
    text-decoration: none;
    color: #000;
}

.footer-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-nav li {
    margin-top: 40px;
}

.footer-nav a {
    font-family: "Manrope", serif;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.footer-nav a:hover {
    color: #E85A4F;
    transform: scale(1.1);
}

.footer-nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E85A4F;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-in-out;
}

.footer-container {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 4vh;
}

.footer-social img {
    width: 40px;
    margin: 26% 0 4%;
}
/* Стили футера для мобильных устройств */
@media (max-width: 768px) {
    .footer-container {
        margin-top: 2vh;
        padding: 10px;
    }

    .footer-logo {
        width: 80px; /* Уменьшаем размер логотипа */
        margin-bottom: 20px;
    }

    .footer-nav ul {
        gap: 20px; /* Уменьшаем промежутки между ссылками */
    }

    .footer-nav li {
        margin-top: 10px; /* Уменьшаем отступы сверху */
    }

    .footer-nav a {
        font-size: 16px; /* Уменьшаем размер шрифта ссылок */
    }

    .footer-social {
        gap: 20px; /* Уменьшаем промежутки между иконками */
        margin-top: 20px;
    }

    .footer-social img {
        width: 40px; /* Уменьшаем размер иконок */
    }
}

.footer-info {
    padding-top: 80px;
    padding-left: 4vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 20px; 
}
.map-info{
    display: flex;
    justify-content: flex-start;
}
.map-info p{
    padding-left: 1vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
}
.mail-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.mail-name p{
    padding-left: 1vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
}
.footer-schedule{
    padding-top: 4vh;
}
.mail-info, .info-content, .map-content {
    width: 30%; 
    min-width: 300px; 
    margin-bottom: 6vh;
}
.map-content img {
    margin-right: 4vw;
    width: 80%; 
    height: auto;
}

.footer-info button {
    font-family: inherit;
    font-size: 20px;
    background:#E85A4F ;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  button span {
    font-family: "Manrope", serif;
    font-weight: 300;
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    transform: translateX(3em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(10em);
  }
  
  button:active {
    transform: scale(0.95);
  }

  @media (max-width: 768px) {
    .footer-info {
        padding: 2em;
        gap: 20px;
    }

    .mail-info, .info-content, .map-content {
        width: 100%;
        min-width: 0;
    }

    .map-content img {
        width: 100%; /* Картинка займає всю ширину контейнера */
        height: auto;
        margin-right: 0;
    }

    .footer-info button {
        font-size: 18px;
        padding: 0.6em 1.2em;
        width: 140px; /* Задаємо ширину в процентах для кнопки */
    }

    .map-info p, .mail-name p, .footer-schedule p {
        font-size: 16px;
    }

    .mail-info h4, .info-content h4 {
        font-size: 20px;
    }
}

.qa-container{
    padding-left: 4vw;
    width: 70vw;
}
@media (max-width: 768px) {
    .qa-container {
        padding-left: 5vw;
        padding-right: 5vw;
        width: 100%;
    }

    .qa-container .title-r-b {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2vh;
    }

    .qa-container .subtitle-bb {
        font-size: 18px;
        font-weight: bold;
        margin-top: 2vh;
    }

    .qa-container .subtitle-b {
        font-size: 16px;
        margin-bottom: 2vh;
        text-align: justify;
    }
}
.info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.info-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-images img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

.additional-images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.additional-images img {
    width: 48%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        gap: 15px;
    }

    .info-images {
        display: none; /* Приховуємо зображення на мобільних пристроях */
    }

    .infor-content {
        padding: 10px;
        width: 100%; /* Текст займає всю ширину */
    }

    .infor-content .title-b {
        font-size: 2em;
        font-weight: bold;
    }

    .infor-content .subtitle-bb {
        font-size: 2em;
        margin-top: 1vh;
    }

    .infor-content .subtitle-b {
        font-size: 18px;
        margin-top: 1vh;
    }
    .subtitle-b-plan {
        display: block; 
        margin-top: 1.5vh;
    }

    .subtitle-b-plan p {
        margin: 5px 0;
        background-color: #ead3ae52;
        padding: 8px;
        border-radius: 8px;
    }
}


.redcar-image{
    display: flex;
    flex-wrap: wrap;
    margin-right: 4vw;
}
.redcar-image img{
    border-radius: 10px;
    width: 400px; 
    height: 400px; 
    object-fit: cover; 
}
.infor-content{
    width: 60%;
}
.social-butto-container {
    position: fixed;        
    top: 20vh;           
    right: 20px;            
    z-index: 1000;        
}

.social-butto-container button {
    padding: 10px;          
    border: none;          
    border-radius: 50%;
    background-color: #D7C3A3;     
    cursor: pointer;        
    display: flex;          
    justify-content: center; 
    align-items: center;    
    width: 40px;           
    height: 40px;  
    margin-bottom: 1vh;

}
.social-butto-container button:hover svg {
    transform: scale(1.1);
  }
  @media (max-width: 768px){
    .social-butto-container{
        position: fixed;        
        top: 20vh;           
        right: 0px;            
        z-index: 1000;  
    }
  }
